* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(background.png); /* Rasm yo'qligi uchun rang berib qo'yishingiz ham mumkin */
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
}

.menu-bar {
  background: rgb(0, 100, 0);
  text-align: center;
}

.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}

.menu-bar ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
  position: relative; 
}

.menu-bar ul li a {
  text-decoration: none;
  color: #fff;
}

.active,
.menu-bar ul li:hover {
  background: #2bab0d;
  border-radius: 3px;
}

/* Dastlab sub-menuni yashirib qo'yamiz */
.sub-menu-1 {
  display: none;
}

/* Sichqoncha li ustiga kelganda sub-menu ko'rinadi */
.menu-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: rgb(0, 100, 0);
  margin-top: 15px;
  margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
  border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
  color: #b2ff00;
}
html, body {
    height: 100%;
    width: 100%;
}

img {
    width: 100vw;
    height: 100vh;
    display: block;
    object-fit: cover;
}
